<div class="col-xs-12 col-sm-12 col-sm-10">
    <div id="request-header-parser">
        <h2>Request Header Parser Microservice <a href="http://www.freecodecamp.com/challenges/basejump-request-header-parser-microservice" target="_blank">(FCC link)</a></h2>
        <div>
            <b>User stories:</b>
            <ol>
                <li>I can get the IP address, language and operating system for my browser..</li>
            </ol>
        </div>
        <div>
            <b>Example:</b>
            <ul>
                <li><a href="/api/request-header-parser/">http://{{ site }}/api/request-header-parser/</a></li>
            </ul>
            <b>Try:</b>
            <p>
                <button id="request-parser-button" class="btn btn-default btn-lg">Parse Request Header</button>
            </p>
            <div id="request-parser-output"></div>
        </div>
    </div>
</div>