<div id="image-search">
    <h2>Image Search Abstraction Layer <a href="http://www.freecodecamp.com/challenges/basejump-image-search-abstraction-layer" target="_blank">(FCC link)</a></h2>
    <div>
        <b>User stories:</b>
        <ol>
            <li>I can get the image URLs, alt text and page urls for a set of images relating to a given search string.</li>
            <li>I can paginate through the responses by adding a ?offset=2 parameter to the URL.</li>
            <li>I can get a list of the most recently submitted search strings.</li>
        </ol>
    </div>
    <div>
        <b>Example search:</b>
        <ul>
            <li><a href="/api/image-search/search/lolcats%20funny">https://{{ site }}/api/image-search/search/lolcats%20funny</a></li>
            <li><a href="/api/image-search/search/lolcats%20funny?offset=5">https://{{ site }}/api/image-search/search/lolcats%20funny?offset=5</a></li>
        </ul>
        <b>Try:</b>
        <p>
            <form id="image-search-form">
                <label for="image-search-terms">Terms</label>
                <input id="image-search-terms" type="text" value="lolcats funny">
                
                <label for="image-search-offset">Offset</label>
                <input id="image-search-offset" type="number" placeholder="Optional Offset">
                <input type="submit">
            </form>
            <div id="image-search-output"></div>
        </p>
    </div>
    <div>
        <b>Example list latest:</b>
        <ul>
            <li><a href="/api/image-search/latest/">https://{{ site }}/api/image-search/latest/</a></li>
        </ul>
        <b>Try:</b>
        <p><button id="image-search-latest-button">Get Latest Searches</button></p>
        <div id="image-search-latest-output"></div>
    </div>
</div>