<div id="file-metadata">
    <h2>File Metadata Microservice <a href="http://www.freecodecamp.com/challenges/basejump-file-metadata-microservice" target="_blank">(FCC link)</a></h2>
    <p>Select file to post to /api/file-metadata and get json object with file metadata</p>
    <form id="file-metadata-form" enctype="multipart/form-data">
        <input type="file" name="file" required>
        <input type="submit">&nbsp<span id="status">ready</span>
    </form>
    <div id="file-metadata-output"></div>
</div>